/* =============
   Bootstrap-custom
============= */
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 95%;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  padding-left: 10px;
  padding-right: 10px;
}


.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 0;

  a{
    color: $muted;
  }
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\f104" !important;
  font-family: FontAwesome !important;
}

/* Dropdown */
.dropdown-menu {
  font-size: inherit;
  & > li {
    & > a {
      padding: 6px 20px;
    }
  }
}

.dropdown-item.active, .dropdown-item:active,.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: darken($white,5%);
  color: inherit;
}

.dropup .dropdown-menu {
  box-shadow: 0px -1px 5px 0 rgba(0,0,0,0.26);
}
.dropdown-lg {
  width: 260px;
}
.arrow-none {
  &:after {
    border: none;
    margin: 0;
    display: none;
  }
}


.popover-header {
  margin-top: 0;
}

.blockquote {
  font-size: 1.01rem;
}

/* Close Icon */
.close {
  opacity: .6;
}

/* Background colors */
.bg-custom {
  background-color: $custom !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-info {
  background-color: $info !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-muted {
  background-color: $lightdark !important;
}

.bg-inverse {
  background-color: $inverse !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-pink {
  background-color: $pink !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-lightdark {
  background-color: $lightdark !important;
}

/* Text colors */
.text-custom {
  color: $custom !important;
}

.text-white {
  color: $white !important;
}

.text-danger {
  color: $danger !important;
}

.text-muted {
  color: $muted !important;
}

.text-primary {
  color: $primary !important;
}

.text-warning {
  color: $warning !important;
}

.text-success {
  color: $success !important;
}

.text-info {
  color: $info !important;
}

.text-inverse {
  color: $inverse !important;
}

.text-pink {
  color: $pink !important;
}

.text-purple {
  color: $purple !important;
}

.text-dark {
  color: $lightdark7 !important;
}


/* Labels */
.label {
  display: inline;
  padding: 0.3em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label:empty {
  display: none;
}

.label-white {
  background-color: rgba($white,0.7);
  color: $dark !important;
}

.label-default {
  background-color: $custom;
}

.label-primary {
  background-color: $primary;
}

.label-success {
  background-color: $success;
}

.label-info {
  background-color: $info;
}

.label-warning {
  background-color: $warning;
}

.label-danger {
  background-color: $danger;
}

.label-purple {
  background-color: $purple;
}

.label-pink {
  background-color: $pink;
}

.label-inverse {
  background-color: $inverse;
}

.label-muted {
  background-color: $muted;
}


/* Badge */
.badge {
  text-transform: uppercase;
  padding: 3px 5px;
  margin-top: 1px;
  display: inline-block;
  min-width: 10px;
  font-weight: 700;
  line-height: 1;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  background-color: $custom;
}

.badge-xs {
  font-size: 9px;
}

.badge-xs, .badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.badge-white {
  background-color: rgba($white,0.7);
  color: $dark !important;
}

.badge-primary {
  background-color: $primary;
}

.badge-success {
  background-color: $success;
}

.badge-info {
  background-color: $info;
}

.badge-warning {
  background-color: $warning;
}

.badge-danger {
  background-color: $danger;
}

.badge-purple {
  background-color: $purple;
}

.badge-pink {
  background-color: $pink;
}

.badge-inverse {
  background-color: $inverse;
}

/* List group */

.list-group-item {
  border: 1px solid $light5;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: $custom;
  border-color: $custom;
}


/* Dropcap */
.dropcap {
  font-size: 3.1em;
}

.dropcap, .dropcap-circle, .dropcap-square {
  display: block;
  float: right;
  font-weight: 400;
  line-height: 36px;
  margin-left: 6px;
  text-shadow: none;
}


/* Tooltips */

.tooltip-inner {
  border-radius: 1px;
  padding: 6px 10px;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto!important;
  height: auto!important;
}


/* Popover */

.popover {
  font-family: inherit;
  border-radius: 3px;

  .popover-title {
    background-color: transparent;
    color: $custom;
    font-weight: 600;
    margin: 0;
  }
}

/* Code */
code {
  color: $primary;
  background-color: $lightdark;
  border-radius: 4px;
}

/* Pre */
pre{
  background-color: $lightdark;
  border: 1px solid #D4D8DA
}

/* Media */
.media {
  margin-bottom: 20px;

  .media-heading {
    font-weight: 600;
    font-size: 16px;
  }
}
.media:last-of-type {
  margin-bottom: 0;
}
