/*===================================
   Topbar,Left-sidebar,Right-sidebar
  ===================================*/

.topbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  max-height: 70px;

  .topbar-left {
    float: left;
    position: relative;
    width: 240px;
    z-index: 1;
    background-color: $custom;
  }
  .topbar-left-sm {
    width: 180px;
  }
  .topbar-left-sm+.navbar-custom {
    margin-left: 180px;
  }
}

.logo {
  color: $white!important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 70px;
  text-transform: uppercase;
  h1 {
    height: 50px;
    margin: 0 auto;
    text-align: center;
  }
  .icon-c-logo {
    display: none;
  }
}

.navbar-custom {
  background-color: $custom;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px;
  margin-left: 240px;
  min-height: 70px;

  .nav-link {
    padding: 0;
    line-height: 70px;
    color: rgba($white,0.6);
  }

  .dropdown-toggle {
    &:after {
      content: initial;
    }
  }

  .menu-left {
    overflow: hidden;
  }
}

.nav > li > a {
  color: $white !important;
  line-height: 60px;
  padding: 0 15px;
  position: relative;
  i {
    font-size: 16px;
  }
}

.profile {
  img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
  }
}

/* Notification */
.notification-list {
  margin-left: 0 !important;

  .noti-title {
    margin-bottom: 0;
    width: auto;
    padding: 12px 20px;

    h5 {
      margin: 0;
    }

    .label {
      float: right;
    }
  }

  .noti-icon {
    font-size: 18px;
    padding: 0 12px;
    vertical-align: middle;
    color: rgba($white,0.8);
  }
  .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 8px;
  }
  .notify-item {
    padding: 10px 20px;

    .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: $white;

      img {
        margin-top: 4px;
      }
    }
    .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      b {
        font-weight: 500;
      }
      small {
        display: block;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }
  .notify-all {
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0 0 -5px 0;
    background-color: $light;
  }
  .profile-dropdown {
    .notify-item {
      padding: 4px 20px;
    }
  }
}

.profile-dropdown {
  width: 170px;
  i {
    font-size: 17px;
    vertical-align: middle;
    margin-right: 5px;
  }
  span {
    vertical-align: middle;
  }
}


.nav-user {
  padding: 0 12px !important;

  img {
    height:36px;
    width: 36px;
  }
}

.navbar-nav {
  margin: 0;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
}

.side-menu.left {
  background: $white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 70px;
}

body.fixed-left {
  .side-menu.left {
    bottom: 50px;
    height: $height;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: fixed;
  }
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page > .content {
  margin-bottom: 60px;
  margin-top: 70px;
  padding: 20px 5px 15px 5px;
  min-height: 300px;
}

.button-menu-mobile {
  border: none;
  color: $white;
  display: inline-block;
  height: 70px;
  width: 60px;
  background-color: $custom;
  font-size: 16px;
}

.sidebar-inner {
  height: $height;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  .nav > li > a {

    .badge {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  a {
    line-height: 1.3;
  }
  ul {
    ul {
      display: none;
      li {
        border-top: 0;
      }
      li.active {
        a {
          color: $custom;
        }
      }
      a {
        color: #75798B;
        display: block;
        padding: 10px 20px 10px 65px;

        &:hover {
          color: $custom;
        }
        i {
          margin-right: 5px;
        }
      }
      ul {
        a {
          padding-left: 80px;
        }
      }
    }
  }
  .label {
    margin-top: 2px;
  }
  .subdrop {
    background: $lightdark !important;
    border-left: 3px solid $custom;
    color: $custom !important;
  }
}

#sidebar-menu > ul > li > a {
  color: $dark;
  display: block;
  padding: 12px 20px;
  margin: 4px 0;
  border-left: 3px solid $white;
  &:hover {
    color: $custom;
    text-decoration: none;
  }
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu {
  ul {
    li {
      .menu-arrow {
        -webkit-transition: -webkit-transform .15s;
        -o-transition: -o-transform .15s;
        transition: transform .15s;
        position: absolute;
        right: 20px;
        display: inline-block;
        font-family: 'Material Design Iconic Font';
        text-rendering: auto;
        line-height: 24px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        color: $muted;

        &:before {
          content: "\f1b6";
        }
      }
      a.subdrop .menu-arrow {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      a{
        i{
          display: inline-block;
          font-size: 16px;
          line-height: 17px;
          margin-left: 3px;
          margin-right: 15px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
        i.md {
          font-size: 18px;
        }
      }
    }
  }
}


#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}

#sidebar-menu > ul > li > a.active {
  background: $lightdark !important;
  border-left: 3px solid $custom;
  color: $custom !important;
}


.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}


/* Small Menu */
.side-menu-sm {
  width: 180px;
  text-align: center;
  #sidebar-menu>ul>li>a>i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0;
  }
  #sidebar-menu ul ul a {
    padding: 10px 20px 10px 20px;
  }
}

.side-menu-sm + .content-page {
  .footer {
    left: 180px;
  }
}
#wrapper.enlarged .side-menu-sm {
  text-align: left;
}
#wrapper.enlarged .side-menu-sm #sidebar-menu ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  vertical-align: middle;
  width: 20px;
}

.side-menu-sm + .content-page {
  margin-left: 180px;
}

/* Header 2 */
.page-header-2 {
  background: $white;
  border-bottom: 1px solid #dee2e8;
  margin: -20px -20px 22px -20px;
  padding: 10px 20px 3px 20px;
}



#wrapper.enlarged {
  .navbar-custom {
    margin-left: 70px;
  }
  .menu-title ,.menu-arrow{
    display: none !important;
  }
  #sidebar-menu {
    ul {
      ul {
        border: 2px solid $lightdark;
        margin-top: -5px;
        padding-top: 5px;
        z-index: 9999;
        background-color: $white;
      }
    }
  }
  .left.side-menu {
    width: 70px;
    z-index: 5;

    #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 52px;

      &:hover {
        background:$lightdark!important;
      }
      &:active {
        background:$lightdark!important;
      }
      &:focus {
        background:$lightdark!important;
      }

      i {
        margin-right: 20px !important;
        font-size: 20px;
      }
    }
    .label {
      position: absolute;
      top: 5px;
      left: 35px;
      text-indent: 0;
      display: block !important;
      padding: .2em .6em .3em !important;
    }
    #sidebar-menu {
      ul > li {
        position: relative;
        white-space: nowrap;
        &:hover > a {
          position: relative;
          width: 260px;
          background: $lightdark;
          color: $custom;
          border-color: $custom;
        }
        &:hover > ul {
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          a {
            background: $white;
            box-shadow: none;
            padding-left: 15px;
            position: relative;
            width: 186px;
            z-index: 6;

            &:hover {
              color: $custom;
            }
          }
        }
        &:hover {
          a {
            span {
              display: inline;
            }
          }
        }
      }
      li{
        .show-menu + ul{
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          a {
            background: $white;
            box-shadow: none;
            padding-left: 15px;
            position: relative;
            width: 186px;
            z-index: 6;

            &:hover {
              color: $custom;
            }
          }

        }
      }
      a.subdrop {
        color: $custom !important;
      }
      ul > li > ul {
        display: none;
      }
      ul {
        ul {
          li {
            &:hover > ul {
              display: block;
              left: 190px;
              margin-top: -36px;
              position: absolute;
              width: 190px;
            }
          }
          li > a {
            span.pull-right {
              -ms-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              position: absolute;
              right: 20px;
              top: 12px;
              transform: rotate(270deg);
            }
          }
          li.active {
            a{
              color: $custom;
            }
          }
        }
      }
      ul > li > a {
        span {
          display: none;
          padding-left: 10px;
        }
      }
    }
    .user-details {
      display: none;
    }
  }
  .content-page {
    margin-left: 70px;
  }
  .footer {
    left: 70px;
  }
  .topbar {
    .topbar-left {
      width: 70px !important;
      .logo {
        span {
          display: none;
          opacity: 0;
        }
        .icon-c-logo {
          display: block;
          line-height: 70px;
        }
      }
    }

  }
  #sidebar-menu > ul > li {
    &:hover > a.open {
      :after {
        display: none;
      }
    }
    &:hover > a.active {
      :after {
        display: none;
      }
    }
  }

  .tips-box {
    display: none;
  }
}

.tips-box {
  .portlet {
    -webkit-box-shadow: 0 0 7px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 7px 1px rgba(0,0,0,0.05);
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.05);
  }
}

.user-details {
  padding: 20px;
  padding-bottom: 0;
  position: relative;
  img {
    position: relative;
    z-index: 9999;
  }
  .user-info {
    color: $lightdark4;
    margin-left: 60px;
    position: relative;
    z-index: 99999;
    a.dropdown-toggle {
      color: $lightdark7;
      display: block;
      font-size: 16px;
      font-weight: 600;
      padding-top: 5px;
    }
  }
}

#wrapper.right-bar-enabled {
  .right-bar {
    right: 0;
  }
  .left-layout {
    left: 0;
  }
}


/* Right sidebar */
.side-bar.right-bar {
  float: right !important;
  right: -266px;
  top: 70px;
  font-size: 0.9rem;
}

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: $white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: $height;
  overflow-y: auto;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}

.right-bar {
  background: $white !important;
  z-index: 99 !important;
  h4 {
    border-bottom: 1px solid $light;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
}

.contact-list {
  max-height: 600px;

  .list-group-item {
    border: none;
    &:hover {
      background: $light5;
    }
    a{
      display: block;
      width: 100%;
    }
  }

  i.offline {
    color: $danger !important;
  }

  i.away {
    color: $warning;
  }
}

.contacts-list {
  .avatar {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 30px;
    img {
      border-radius: 50%;
      width: $width;
    }
  }
  .list-group-item {
    span.name {
      color: #707780;
      display: inline-block;
      float: left;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 3px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 130px;
    }
  }

  i {
    color: $lightgray;
    float: right;
    font-size: 9px;
    line-height: 30px;
  }
  i.online {
    color: #a0d269;
  }
  i.offline {
    color: $danger !important;
  }

  i.away {
    color: $warning;
  }
}


/* Seach */
.app-search {
  position: relative;
  padding-top: 18px;

  a {
    position: absolute;
    top: 18px;
    left: 220px;
    display: block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    text-align: center;
    color: rgba($white, 0.5);

    &:hover {
      color: $white;
    }
  }

  .form-control,
  .form-control:focus {
    border: 1px solid rgba($white, 0.1);
    font-size: 13px;
    height: 34px;
    color: $white;
    padding-left: 20px;
    padding-right: 40px;
    background: rgba($white, 0.1);
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
  }
}

.app-search input {
  &::-webkit-input-placeholder {
    color: rgba($white,70%);
  }
  &:-moz-placeholder {
    color: rgba($white,70%);
  }
  &::-moz-placeholder {
    color: rgba($white,70%);
  }
  &:-ms-input-placeholder {
    color: rgba($white,70%);
  }
}

