/* Tabs-Accordions */

.tabs {
  background-color: $white;
  margin: 0 auto;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: $width;
  li.tab {
    background-color: $white;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    a {
      -moz-transition: color 0.28s ease;
      -ms-transition: color 0.28s ease;
      -o-transition: color 0.28s ease;
      -webkit-transition: color 0.28s ease;
      color: #ee6e73;
      display: block;
      height: 100%;
      text-decoration: none;
      transition: color 0.28s ease;
      width: $width;
    }
    a.active {
      color: $custom !important;
    }
  }
  .indicator {
    background-color: $custom;
    bottom: 0;
    height: 2px;
    position: absolute;
    will-change: left, right;
  }
}

.tabs-top {
  .indicator {
    top: 0;
  }
}

.nav-pills {
  li.active{
    a{
      background-color: $custom !important;

      &:hover {
        background-color: $custom !important;
      }
      &:focus {
        background-color: $custom !important;
      }
    }
  }
}
.nav.nav-tabs + .tab-content {
  background: $white;
  margin-bottom: 30px;
  padding: 30px;
}

.tabs-vertical-env {
  margin-bottom: 30px;
  .tab-content {
    background: $white;
    display: table-cell;
    margin-bottom: 30px;
    padding: 30px;
    vertical-align: top;
  }
  .nav.tabs-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
    li > a {
      color: $lightdark3;
      text-align: center;
      white-space: nowrap;
    }
    li > a.active {
      background-color: $white;
      border: 0;
    }
  }
}

.nav.nav-tabs > li.active > a {
  background-color: $white;
  border: 0;
}
.nav-pills > .active > a > .badge {
  color: $custom;
}
.nav.nav-tabs > li > a,.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #505461 !important;
  cursor: pointer;
  padding: 10px 20px;
  letter-spacing: 0.03em;
  font-weight: 600;

  &:hover {
    color: $custom !important;
  }
}

.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
}

.nav.nav-tabs > li {
  &:last-of-type {
    a {
      margin-right: 0;
    }
  }
}

.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navtab-bg {
  background-color: $lightdark;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .tabs-vertical > li > a.active,
.tabs-vertical > li > a.active:focus, .tabs-vertical > li > a.active:hover {
  color: $custom !important;
}

.tabs-vertical-env {
  .tab-content {
    margin-bottom: 0;
  }
}

.table > thead > tr > td.middle-align, .table > tbody > tr > td.middle-align,
.table > .tfood > tr > td.middle-align, .table > thead > tr > th.middle-align,
.table > tbody > tr > th.middle-align, .table > .tfood > tr > th.middle-align {
  vertical-align: middle;
}